name: Ticket Monitor
on:
  schedule:
    - cron: '*/5 * * * *' # Checks every 5 minutes
  workflow_dispatch:      # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests pytz beautifulsoup4

      - name: Run Script
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python monitor.py

      - name: Update UI
        run: |
          git config --global user.name "TicketBot"
          git config --global user.email "bot@github.com"
          git add last_check.txt
          git commit -m "Update last check time [skip ci]" || echo "No changes"
          git push
